header, main, footer{
    text-align:center;
    margin: 1rem auto;
    padding: 2px;
    background-color: maroon; 
    color: white;
}

a{
    color:white;
    text-decoration: none;
    background-color: brown;
    min-width: 200px;
    display:block;
}

a:hover{
    background-color: maroon;
}

figure{
    display:inline;
}
img{
    max-width: 100%;
    margin:20px;
    border: white 10px solid;
}
button{
    cursor: default;
    background: none;
    outline: none;
    padding:none;
    border:none;
}

@media screen and (min-width:980px){
    footer, main{
        background-color: navy;
    }
    a {
        display:none;
    }
}

@media screen and (min-width:1500px){
    footer, main{
        background-color: black;
    }
    a {
        display:inline;
        margin:none;
        padding:2px;
    }
}