body{
display:grid;
grid-template-columns:repeat(3, 1fr);
}

#border{
position:fixed;
margin-left: 400px;
margin-right: 400px;
padding: 75px;
border:2px solid black;
}

h1{
grid-column: 2/2;
text-align: center;
letter-spacing:2px;
text-transform:uppercase;
}

h2{
grid-column: 2/2;
text-align: center;
color:#006EB6;
font-size: small;
letter-spacing:2px;
text-transform:uppercase;
}

.line{
grid-column: 2/2;   
width: 1fr;
height: 50px;
border-bottom: 1px solid black;
}

p{
grid-column: 2/2;
line-height: 1.5;
}

p.ital{
font-style:italic;
}

ol{
    grid-column: 2/2;
line-height: 1.5;
}

img{
grid-column: 2/2;
margin-left: 200px;
width: 150px;
}

#theme-select{
    max-width: 50px;
    position:absolute;
    margin-left: 15px;
}
/*DARK MODE*/

.dark{
    background-color: #333;
    color: white;

}

.dark h2{
    color: #4F9ACF;
}