body {
  font-family: Palatino Linotype, sans-serif;
  background: #f0f4f8;
}


/*CARD STYLES*/
#card {
  grid-column: 1/2;
  grid-row:1/2;
  background: #313131;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.9);

}

#mainCycle{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows:repeat(6, 500px);
}
#cardStart {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#tedCard{
  grid-column: 1/2;
  background: #313131;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.9);
  width: 400px; 
  margin: 100px auto;
  padding-bottom: 10px;
  
}
#joeCard{
  grid-column: 2/3;
  background: #313131;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.9);
  width: 400px; 
  margin: 100px auto;
  padding-bottom: 10px;
  
}
#legionCard{
  grid-column: 3/4;
  background: #313131;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.9);
  width: 400px; 
  margin: 100px auto;
  padding-bottom: 10px;
  
}
#characterImage{
  width: 400px;
  grid-column: 1/3;
  border-radius: 15px 15px 0 0;
  max-height: 250x;
  overflow: hidden;
  }
#characterImageMain{
  width: 260px;
  grid-column: 1/3;
  border-radius: 15px 15px 0 0;
  max-height: 200x;
  overflow: hidden;
  }
.name {
  font-size: 1.5em;
  font-weight: bold;
  margin: -4px 0 20px 0;
  color: white;
  padding: 15px 0 15px 35px;
  background-color: #5d747b;
}
.health{
  position: absolute;
  margin-top: 15px;
  margin-left: 350px;
  font-size: xx-large;
  color: white;
}
.healthMain{
  position: absolute;
  margin-top: 15px;
  margin-left: 210px;
  font-size: xx-large;
  color: white;
}
#stats {
  margin: 10px 15px 7px 35px;
  text-align: left;
}
#stats p {
  margin: 5px 0;
  color: #f0f4f8;
}


/*BUTTONS*/
.buttons {
  text-align: center;
}
button {
  padding: 8px 12px;
  margin: 20px;
  border: none;
  border-radius: 8px;
  background-color: #5d747b;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
button:hover {
  background-color: #58605a;
}


/*ENEMY*/
#enemyCard {
  grid-column: 6/7;
  background: #313131;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.9);
  width: 400px; 
  margin: 100px auto;
  padding-bottom: 10px;
  
}
#enemyImage{
  width: 400px;
  grid-column: 1/3;
  border-radius: 15px 15px 0 0;
  max-height: 250x;
  overflow: hidden;
}
#enemyStats{
  margin: 10px 15px 7px 35px;
  text-align: left;
    color: #f0f4f8;
}

/*HAND*/
#handConatainer{
  display: flex;
}

.cardInHand{
  width:100px;
}
